<h1>Découvrez notre sélection exclusive de produits pharmaceutiques de qualité supérieure
  pour améliorer votre santé et votre bien-être en exclusivité chez nous:</h1>
<div class="product-list">
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img src="https://assets.beauty.shoppersdrugmart.ca/bb-prod-product-image/628791004252/en/01/front/800/white.jpg"
        alt="Produit 1" class="product-image">
    </a>
    <div class="product-name">Unisom</div>
    <div class="product-description">Unisom® est un aide-sommeil efficace et digne de confiance indiqué pour le
      soulagement de l'insomnie occasionnelle due au surmenage ou à la fatigue</div>
    <div class="product-price">$9.99
      <span class="product-discount">20%</span>
      <span class="product-discounted-price">$8</span>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="http://cdn.shopify.com/s/files/1/0358/8833/2938/products/j_88d309d9-76cd-4bd3-97f9-6aa11b47114b_1200x1200.jpg?v=1587332534"
        alt="Produit 2" class="product-image">
    </a>
    <div class="product-name">Tylenol</div>
    <div class="product-description">
      Ce médicament est généralement pris au besoin contre les douleurs ou la fièvre, sauf en cas d'arthrose ou
      d'autres troubles chroniques</div>
    <div class="product-price">$19.99
      <span class="product-discount">20%</span>
      <span class="product-discounted-price">$18</span>
    </div>
  </div>
  <div class="product" style="background-color:  white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="https://www.pharma-gdd.com/media/cache/resolve/product_show/boeringer-dulcolax-constipation-occasionnelle-30-comprimes-face.jpg"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-details">
      <div class="product-name">Dulcolax</div>
      <div class="product-description">Ce médicament contient un laxatif stimulant. Il augmente les sécrétions et la
        motricité de l'intestin. Il est utilisé dans le traitement symptomatique de la constipation.</div>
      <div class="product-price">$29.99</div>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="http://cdn.shopify.com/s/files/1/0586/8545/6592/products/abio-cosmetic-vitamine-e-huile-pure-pour-la-peau-28000ui-30ml.png?v=1637874138"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Vitamine E</div>
    <div class="product-description">Vitamines pour la peau</div>
    <div class="product-price">$20.99
      <p class="discount">Discount: 10%</p>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="https://www.pharma-gdd.com/media/cache/resolve/product_show/iprad-gestarelle-g-grossesse-pre-conception-30-capsules-face.jpg"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Vitamine G+</div>
    <div class="product-description">Vitamines de grossesse</div>
    <div class="product-price">$20.99
      <p class="discount">Discount: 20%</p>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="https://www.santeenvrac.com/i/Flora-Fer-avec-complexe-de-vitamines-B-240-ml-Sante-en-vrac-13947.jpg?size=600"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Fer+</div>
    <div class="product-description">Vitamines de Fer</div>
    <div class="product-price">$20.99
      <p class="discount">Discount: 50%</p>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="https://www.robe-materiel-medical.com/images_produits/image_4941_bandelettes-glycumie-(flacon-ouvert+boite).jpg?1650361790"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Accu-Check</div>
    <div class="product-description">Moniteur de Glycimie</div>
    <div class="product-price">$199.99
      <span class="product-discount">50%</span>
      <span class="product-discounted-price">$100</span>
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img src="https://www.girodmedical.com/media/wp_uploads/2018/10/2e1a0d10ed9a269307c214cd906780d2.png"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Oxymetrie</div>
    <div class="product-description">Test d'oxygene</div>
    <div class="product-price">$29.99</div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img src="https://cdn.shop-pharmacie.fr/images/arrow-test-de-grossesse-test-s-F00003585-p10.jpg" alt="Produit 3"
        class="product-image">
    </a>
    <div class="product-name">Test de grossesse</div>
    <div class="product-description">test rapide et faible a 99%</div>
    <div class="product-price">$39.99</div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img
        src="https://m1.quebecormedia.com/emp/emp/white_12_1f328293-8184-4ea8-b538-a46ce8da2a63_ORIGINAL.jpg?impolicy=crop-resize&x=0&y=0&w=1600&h=1600&width=925"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Oxymetrie</div>
    <div class="product-description">Anti Acné</div>
    <div class="product-price">$59.99</div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img src="https://www.aerius.ca/sites/g/files/vrxlpx28816/files/2020-06/aerius-fr.png?imwidth=5000"
        alt="Produit 3" class="product-image">
    </a>
    <div class="product-name">Aerus</div>
    <div class="product-description">Medicament contre les allergies</div>
    <div class="product-price">$19.99
    </div>
  </div>
  <div class="product" style="background-color: white; padding: 20px;">
    <a [routerLink]="['/products/PLACEHOLDER']">
      <img src="https://fr.imodium.ca/sites/imodium_ca/files/liquigelscalloutfr.png" alt="Produit 3"
        class="product-image">
    </a>
    <div class="product-name">Imodium</div>
    <div class="product-description">Soulagement de la diarrhée</div>
    <div class="product-price">$19.99</div>
  </div>
</div>