<!DOCTYPE html>
<html>
<head>
  <title>Accueil Pharmacie</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Bienvenue à la Pharmacie</h1>
</header>
<nav>
  <ul>
    <li><a href="index.html">Accueil</a></li>
    <li><a href="produits.html">Produits</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
<main>
  <h2>Notre Pharmacie</h2>
  <p>La Pharmacie vous offre un vaste choix de produits et de services. Nous sommes fiers de vous offrir des produits de qualité et un service à la clientèle exceptionnel. Nous nous engageons à vous fournir des produits et des informations fiables et à vous offrir un service à la clientèle personnalisé.</p>
</main>
<footer>
  &copy; 2023 Pharmacie
</footer>
</body>
</html>
