<div class="welcome">
  <h1>EpharmaWeb</h1>
  <p>Inscrivez vous et profitez de notre varieté de service pour vous aider a gerer votre santé</p>
  <div class="container">
    <div class="card">
      <h2>Produits en vedette</h2>
      <p>Découvrez nos produits en vedette pour maintenir votre santé et votre bien-être.</p>
      <a [routerLink]="['/products']">En savoir plus</a>
    </div>
    <div class="card">
      <h2>Services en pharmacie</h2>
      <p>Nous offrons une variété de services pour vous aider à gérer votre santé.</p>
    </div>
    <div class="card">
      <h2>Heures d'ouverture</h2>
      <table>
        <tr>
          <td>Lundi</td>
          <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
          <td>weekend</td>
          <td>9:00 AM - 4:00 PM</td>
        </tr>
      </table>
    </div>
  </div>
</div>