<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <img src="{{ product.picture_url }}" class="w-100 h-100 rounded" alt="PLACEHOLDER.image" class="product-image">
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <h1>
          {{ product.name }}
        </h1>
      </div>
      <div class="row">
        <h2>
          {{ product.price | number : '1.2-2' }}$
        </h2>
      </div>
      <div class="row">
        Quantité restante : {{ product.stock }}
      </div>
      <div class="row">
        <h1>
          Description
        </h1>
      </div>
      <div class="row">
        {{ product.description }}
      </div>
    </div>
    <div class="col-sm">
      <form>
        PLACEHOLDER.form_to_ask_quantity
      </form>
      <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()">
        <div class="row form-group">

          <button *ngIf="this.isAdmin()==true" type="submit" class="btn btn-success">
            Patch le Produit
          </button>
        </div>
      </form>
      <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct()">
        <div class="row form-group">
          <button *ngIf="this.isAdmin()==true" type="submit" class="btn btn-danger">
            Supprimer le Produit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>