<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <img src="{{ product.picture_url }}" class="w-100 h-100 rounded" alt="PLACEHOLDER.image" class="product-image">
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <h1>
          {{ product.name }}
        </h1>
      </div>
      <div class="row">
        <h2>
          {{ product.price | number : '1.2-2' }}$
        </h2>
      </div>
      <div class="row">
        Quantité restante : {{ product.stock }}
      </div>
      <div class="row">
        <h1>
          Description
        </h1>
      </div>
      <div class="row">
        {{ product.description }}
      </div>
      <div class="row">
        <h4>
          Dernière entré
        </h4>
      </div>
      <div class="row">
        {{ product.last_input }}
      </div>
      <div class="row">
        <h4>
          Dernière sortis
        </h4>
      </div>
      <div class="row">
        {{ product.last_output }}
      </div>
    </div>
    <div class="col-sm">
      <form>
        PLACEHOLDER.form_to_ask_quantity
      </form>
      <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()" *ngIf="this.isAdmin()==true">
        <div class="row form-group">
          <div>
            <input formControlName="name" type="text" placeholder="nom" class="form-control">
          </div>
          <div>
            <input formControlName="stock" type="text" placeholder="stock" class="form-control">
          </div>
          <div>
            <input formControlName="price" type="text" placeholder="prix" class="form-control">
          </div>
          <div>
            <input formControlName="expiration" type="text" placeholder="expiration" class="form-control">
          </div>
          <div>
            <input formControlName="description" type="text" placeholder="description" class="form-control">
          </div>
          <div>
            <input formControlName="last_input" type="text" placeholder="dernière entré" class="form-control">
          </div>
          <div>
            <input formControlName="last_output" type="text" placeholder="dernière sortis" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">
            Patch le Produit
          </button>
        </div>
      </form>
      <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct()" *ngIf="this.isAdmin()==true">
        <div class="row form-group">
          <button type="submit" class="btn btn-danger">
            Supprimer le Produit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>