<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <img src="" class="w-100 h-100 rounded" alt="PLACEHOLDER.image" class="product-image">
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <h1>
          PLACEHOLDER.title
        </h1>
      </div>
      <div class="row">
        <h2>
          PLACEHOLDER.price$
        </h2>
      </div>
      <div class="row">
        Quantité restante : PLACEHOLDER.quantity
      </div>
      <div class="row">
        <h1>
          Description
        </h1>
      </div>
      <div class="row">
        PLACEHOLDER.description
      </div>
    </div>
    <div class="col-sm">
      PLACEHOLDER.form_to_ask_quantity
    </div>
  </div>
</div>