<form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
  <h2 class="mb-3">Ajouter un médicament</h2>
  <div class="form-group">
    <label>Nom :</label>
    <input formControlName="name" type="text" placeholder="nom" class="form-control">
  </div>
  <div class="form-group">
    <label>Stock :</label>
    <input formControlName="stock" type="text" placeholder="stock" class="form-control">
  </div>dwad
  <div class="form-group">
    <label>Prix :</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input formControlName="price" type="text" placeholder="prix" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label>Expiration :</label>
    <input formControlName="expiration" type="text" placeholder="expiration" class="form-control">
  </div>
  <div class="form-group">
    <label>Description :</label>
    <input formControlName="description" type="text" placeholder="description" class="form-control">
  </div>
  <div class="form-group">
    <label>Dernière entrée :</label>
    <input formControlName="last_input" type="text" placeholder="dernière entré" class="form-control">
  </div>
  <div class="form-group">
    <label>Dernière sortis :</label>
    <input formControlName="last_output" type="text" placeholder="dernière sortis" class="form-control">
  </div>
  <button [disabled]="addProductForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Ajouter</button>
</form>