<body>
  <div class="container text-center">
    <h1>Connexion</h1>
    <div class="row mt-2">
      <div class="col-10 offset-1">
        <!-- https://getbootstrap.com/docs/4.5/components/forms -->
        <form>
          <div class="form-group">
            <p>Email</p>
            <input formControlName="email" type="email" placeholder="Email" class="form-control">
            <div class="invalid-feedback text-left">
              Veuillez entrer une adresse email valide.
            </div>
          </div>

          <div class="form-group">
            <p>Mot de passe</p>
            <input formControlName="password" type="password" placeholder="Password" class="form-control">
            <div class="invalid-feedback text-left">
              Veuillez entrer un mot de passe valide.
            </div>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
          <a [routerLink]="['/']" class="btn btn-lg btn btn-secondary btn-block" role="button">Annuler</a>
        </form>
      </div>
    </div>
  </div>
</body>