<div class="profile-container">
  <div class="profile-image">
    <img
      src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
      alt="Profile Image">
  </div>
  <div class="profile-info">
    <h2>{{currentUser.firstname+" "+currentUser.lastname}}</h2>
    <p>Adresse: {{currentUser.email}}</p>
    <p>Numéro de téléphone: {{currentUser.phone_number}}</p>
    <a [routerLink]="['/profile/edit']" class="btn">Modifier les informations de profil</a>
  </div>
  <div class="history">
    <!--Below is à PLACEHOLDER-->
    <h3>Historique des commandes</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Numéro de commande</th>
          <th>Montant total</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/01/2022</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>