<body>
  <div class="container text-center table-responsive">
    <h1>Inscription</h1>
    <div class="row mt-2">
      <div class="col-10 offset-1">
        <!-- https://getbootstrap.com/docs/4.5/components/forms -->
        <form [formGroup]="signForm" (ngSubmit)="signUp()">

          <div class="form-row">
            <div class="form-group col-md-6">
              <p>Prénom*</p>
              <input formControlName="firstname"
                [class.is-invalid]="signForm.get('firstname')?.errors && signForm.get('firstname')?.dirty && signForm.get('firstname')?.touched"
                type="text" placeholder="Homer" class="form-control">
              <div class="invalid-feedback text-left">
                Veuillez entrer un prénom valide.
              </div>
            </div>

            <div class="form-group col-md-6">
              <p>Nom de famille*</p>
              <input formControlName="lastname"
                [class.is-invalid]="signForm.get('lastname')?.errors && signForm.get('lastname')?.dirty && signForm.get('lastname')?.touched"
                type="text" placeholder="Simpson" class="form-control">
              <div class="invalid-feedback text-left">
                Veuillez entrer un nom de famille valide.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <p>Adresse Email*</p>
              <input formControlName="email"
                [class.is-invalid]="signForm.get('email')?.errors && signForm.get('email')?.dirty && signForm.get('email')?.touched"
                type="email" placeholder="homersimpson@foxnews.com" class="form-control">
              <div class="invalid-feedback text-left">
                Veuillez entrer une adresse email valide.
              </div>
            </div>

            <div class="form-group col-md-6">
              <p>Numéro de téléphone*</p>
              <input formControlName="phone_number"
                [class.is-invalid]="signForm.get('phone_number')?.errors && signForm.get('phone_number')?.dirty && signForm.get('phone_number')?.touched"
                type="text" placeholder="9395550113" class="form-control">
              <div class="invalid-feedback text-left">
                Veuillez entrer un numéro de téléphone valide.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <p>Mot de passe*</p>
              <input formControlName="password"
                [class.is-invalid]="signForm.get('password')?.errors && signForm.get('password')?.dirty && signForm.get('password')?.touched"
                type="password" placeholder="Au moins 6 caractères" class="form-control">
              <div class="invalid-feedback text-left">
                Veuillez entrer un mot de passe valide.
              </div>
            </div>

            <div class="form-group col-md-6">
              <p>Confirmer mot de passe*</p>
              <input formControlName="passwordConfirmation"
                [class.is-invalid]="signForm.errors && signForm.get('passwordConfirmation')?.dirty && signForm.get('passwordConfirmation')?.touched"
                type="password" placeholder="Confirmer mot de passe" class="form-control">
              <div class="invalid-feedback text-left">
                Le mot de passe n'est pas le même.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button [disabled]="signForm.invalid" class="btn btn-lg btn-primary btn-block"
                type="submit">Confirmer</button>
              <a [routerLink]="['/']" class="btn btn-lg btn-secondary btn-block" role="button">Annuler</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>